<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amv"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.amv.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.amv.ChooseOperationCartesian"
            android:label="@string/title_activity_choose_operation" >
        </activity>
        <activity
            android:name="com.example.amv.ChooseOperationPolar"
            android:label="@string/title_activity_choose_operation_polar" >
        </activity>
        <activity
            android:name="com.example.amv.Add2P"
            android:label="@string/title_activity_add2_p" >
        </activity>
        <activity
            android:name="com.example.amv.Add2C"
            android:label="@string/title_activity_add2_c" >
        </activity>
        <activity
            android:name="com.example.amv.Add3P"
            android:label="@string/title_activity_add3_p" >
        </activity>
        <activity
            android:name="com.example.amv.Add3C"
            android:label="@string/title_activity_add3_c" >
        </activity>
        <activity
            android:name="com.example.amv.ScalarProductP"
            android:label="@string/title_activity_scalar_product_p" >
        </activity>
        <activity
            android:name="com.example.amv.ScalarProductC"
            android:label="@string/title_activity_scalar_product_c" >
        </activity>
        <activity
            android:name="com.example.amv.VectorProductC"
            android:label="@string/title_activity_vector_product_c" >
        </activity>
        <activity
            android:name="com.example.amv.VectorProductP"
            android:label="@string/title_activity_vector_product_p" >
        </activity>
    </application>

</manifest>
